

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #6cbf84;
    padding: 15px;
    color: white;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #e0f7d4;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.service {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.service img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.service-text {
    max-width: 800px;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    color: #555;
}

footer p {
    margin: 5px 0;
}